.vk {
	max-width: 100%;
}

body {
	background-color: blue;
}

@media screen and (min-width: 1080px) {
	.ava {
		float: left;
		font-size: 100%;
		background-color: red;
		height: 350px;
		width: 350px;
		margin-bottom: 5px;
	}
	
	.profile {
		float: right;
		font-size: 100%;
		letter-spacing: 5px;
		line-height: 50%;
		background-color: yellow;
		height: 300px;
		width: calc(90% - 355px);
		padding-left: 5%;
		padding-right: 5%;
		padding-top: 25px;
		padding-bottom: 25px;
		margin-bottom: 5px;
	}
	
	.friends {
		float: left;
		font-size: 100%;
		background-color: green;
		height: 150px;
		width: 350px;
	}
	
	.wall {
		float: right;
		font-size: 100%;
		background-color: purple;
		height: 500px;
		width: calc(100% - 355px)
	}
}

@media screen and (min-width: 640px) and (max-width: 1080px) {
	.ava {
		float: left;
		font-size: 100%;
		background-color: red;
		height: 250px;
		width: 250px;
		margin-bottom: 5px;
	}
	
	.profile {
		float: right;
		font-size: 80%;
		letter-spacing: 4px;
		line-height: 50%;
		background-color: yellow;
		height: 210px;
		width: calc(90% - 255px);
		padding-left: 5%;
		padding-right: 5%;
		padding-top: 20px;
		padding-bottom: 20px;
		margin-bottom: 5px;
	}
	
	.friends {
		float: left;
		font-size: 100%;
		background-color: green;
		height: 100px;
		width: 250px;
	}
	
	.wall {
		float: right;
		font-size: 100%;
		background-color: purple;
		height: 500px;
		width: calc(100% - 255px)
	}
}

@media screen and (max-width: 640px) {
	.ava {
		margin: auto;
		font-size: 100%;
		background-color: red;
		height: 350px;
		width: 350px;
		margin-bottom: 5px;
	}
	
	.profile {
		margin: auto;
		font-size: 80%;
		letter-spacing: 4px;
		line-height: 50%;
		background-color: yellow;
		height: 210px;
		width: 80%;
		padding-left: 5%;
		padding-right: 5%;
		padding-top: 20px;
		padding-bottom: 20px;
		margin-bottom: 5px;
	}
	
	.friends {
		margin: auto;
		font-size: 100%;
		background-color: green;
		height: 150px;
		width: 90%;
	}
	
	.wall {
		margin: auto;
		font-size: 100%;
		background-color: purple;
		height: 500px;
		width: 90%
	}
}