.ava {
	color = #50ffcc;
	font-size: 500%;
	font-style: "Comic Sans MS";
}

.profile {
	color = #50ffcc;
	font-size: 500%;
	font-style: "Comic Sans MS";
}

.friends {
	color = #50ffcc;
	font-size: 500%;
	font-style: "Comic Sans MS";
}

.wall {
	color = #50ffcc;
	font-size: 500%;
	font-style: "Comic Sans MS";
}