.bg {
	background-image: url(img/back.jpg);
}

.container {
    
	align: center;
}

.img-fluid {
	align: center;
	
}

.row {
	align: center;
}

.col-4 {
	align: center;
	background-color: rgba(200, 200, 224, 0.8);
	width: 100%;
}

#pacany {
	background-color: rgba(224, 224, 224, 0.8);
}

textarea {
	width: 90%;
}